<h3>
  Department List
</h3>

<ul class="items">
  <li (click)="onSelect(department)" *ngFor='let department of departments' [class.selected]="isSelected(department)">
    <span class="badge">{{department.id}}</span>&nbsp;{{department.name}}
  </li>
</ul>
