<h3>
  You selected department with id = {{departmentId}}
</h3>
<p>
  <button (click)="showOverview()">Overview</button>
  <button (click)="showContact()">Contact</button>
</p>
<router-outlet></router-outlet>

<p>
  <button (click)="goToPrevious()">Previous</button>
  <button (click)="goToNext()">Next</button>
</p>

<div>
  <button (click)="goToDepartments()">Back</button>
</div>
