<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    {{message}}
  </h1>
</div>
<!-- <app-test (childEvent)="message=$event" [parentData]="name"></app-test> -->
<!-- <app-test [parentData]="name"></app-test> -->
<app-employee-list></app-employee-list>
<app-employee-detail></app-employee-detail>
