<h1>Interpolation</h1>
<h3>
  <!-- This right here with the {{}} is called Interpolation in Angular.
    Interpolation only works with String values though -->
  Welcome {{name}}!
</h3>
<h1>Property Binding</h1>
<!-- This is called Property binding -->
<input [id]="myId" type="text" value="Gredler"/>
<input [disabled]="isDisabled" type="text" value="Gredler"/>
<!-- Alternate Syntax: -->
<input bind-disabled="isDisabled" type="text" value="Gredler"/>

<h1>Class Binding</h1>
<h3 [class]="successClass">Class binding</h3>
<!-- The text-danger class will be applied to the element if the hasError property is true -->
<h3 [class.text-danger]="hasError">hasError text</h3>
<!-- Conditionally apply multiple classes -->
<h3 [ngClass]="messageClasses">ng class directive</h3>

<h1>Style Binding</h1>
<h3 [style.color]="hasError ? 'red' : 'green'">Style binding</h3>
<h3 [style.color]="highlightColor">Style binding 2</h3>
<h3 [ngStyle]="titleStyles">Style binding 3</h3>

<h1>Event Binding</h1>
<!-- $event is a special parameter for Angular = gives you all information about the event that was raised -->
<button (click)="onClick($event)">Greet</button>
<button (click)="greeting = '`sup'">Greet</button>
{{greeting}}

<h1>Template Reference Variables</h1>
<input #myInput type="text"/>
<button (click)="logMessage(myInput)">Log</button>

<h1>Two Way Binding</h1>
<input [(ngModel)]="name" type="text"/>
{{name}}
