<h1>Component Interaction</h1>
<h3>
  {{'Hello ' + parentData}}
  <button (click)="fireEvent()">Send Event</button>
</h3>

<h1>ngIf Directive</h1>

<!-- First it chekcs if displayName is true
if true the attached element will displayed
if false Angular checks if there is an else statement -->
<h3 *ngIf="displayName; else elseBlock">
  Test Component
</h3>

<!-- Alternate Syntax -->
<div *ngIf="displayName; then thenBlock; else elseBlock"></div>

<!-- ng-template is for adding and removing elements from the DOM -->
<ng-template #elseBlock>
  <h3>
    Name is Hidden
  </h3>
</ng-template>

<!-- thenBlock for alternate syntax -->
<ng-template #thenBlock>
  <h3>
    Then Block
  </h3>
</ng-template>

<h1>ngSwitch Directive</h1>
<div [ngSwitch]="color">
  <div *ngSwitchCase="'red'">You picked red</div>
  <div *ngSwitchCase="'green'">You picked green</div>
  <div *ngSwitchCase="'blue'">You picked blue</div>
  <div *ngSwitchDefault>Pick again</div>
</div>

<h1>ngFor Directive</h1>
<ul>
  <li *ngFor="let color of colors; index as i; first as f; odd as o">
    {{f}}&nbsp;{{i}}:&nbsp;{{color}}&nbsp;{{o}}
  </li>
</ul>

<h1>Pipes</h1>
<h3>{{parentData | lowercase}}</h3>
<h3>{{parentData | uppercase}}</h3>
<h3>{{message | titlecase}}</h3>
<h3>{{parentData | slice:3:5}}</h3>
<h3>{{names | json}}</h3>

<!-- 1 = minimal number of integer digits 2 = minimum decimal 3 = max of decimal digits -->
<h3>{{5.678 | number:'1.2-3'}}</h3>
<h3>{{5.678 | number:'3.4-5'}}</h3>
<h3>{{5.678 | number:'3.1-2'}}</h3>

<h3>{{0.25 | percent}}</h3>

<h3>{{0.25 | currency}}</h3>
<h3>{{0.25 | currency:'GBP'}}</h3>
<h3>{{0.25 | currency:'GBP':'code'}}</h3>

<h3>{{date | date:'short'}}</h3>
<h3>{{date | date:'shortDate'}}</h3>
<h3>{{date | date:'shortTime'}}</h3>
